* {
  margin: 0;
  padding: 0;
}
header {
  background: linear-gradient(#cdffd8, #b4ffc2, #a1ffad, #94b9ff);
  display: flex;
  align-items: center;
  width: 100%;
}
.logo {
  max-width: 7rem;
  padding-bottom: 2rem;
}
h1 {
  text-align: center;
  color: #94b9ff;
  padding-bottom: 2.5rem;
}
